<script type="text/javascript" src="$!contextPath/js/floatingloan/floatingloanList.js?num=Math.random()"></script>
<script type="text/javascript">
	function getTypes() {
		return $types;
	}
	function getLoanBizSideType() {
		return "$!bizSideType";
	}
</script>
<div id="queryForm"></div>
<div id="queryResult"></div>