#parse("copyright.vm")
package ${table.DAOPackage};

// auto generated imports
#foreach($importClass in $table.daoImports) 
#if($importClass == "com.iwallet.biz.common.util.PageList")
import com.tccz.tccz.dal.util.PageList;
#else
import $importClass;
#end
#end

/**
 * A dao interface provides methods to access database table <tt>$table.sqlName</tt>.
 *
#parse("description-java.vm")
 */
public interface ${table.DAOClassName} {
#set ($daoName = ${table.DAOClassName})
##parse("dao-name.vm")
#foreach($operation in $table.operations)
#parse("operation/op-${operation.templateSuffix}.vm");

#end
}