#set ($baseClass = "org.springframework.orm.ibatis.support.SqlMapClientDaoSupport")
#if (${table.isAutoSwitchDataSrc})
#set ($baseClass = "com.iwallet.biz.dal.common.AutoSwitchDataSrcSqlMapClientDaoSupport")
#end
#set ($base = "SqlMapClientDaoSupport")
#if (${table.isAutoSwitchDataSrc})
#set ($base = "AutoSwitchDataSrcSqlMapClientDaoSupport")
#end
#parse("copyright.vm")
package ${table.ibatisPackage};

import $baseClass;

import ${table.qualifiedDAOClassName};

// auto generated imports
#foreach($importClass in $table.daoImports) 
#if($importClass == "com.iwallet.biz.common.util.PageList")
import com.tccz.tccz.dal.util.PageList;
#else
import $importClass;
#end
#end
#foreach($importClass in $table.ibatisImports)
#if($importClass == "com.alibaba.common.lang.Paginator")
import com.tccz.tccz.dal.util.Paginator;
#else
import $importClass;
#end
#end

import java.util.HashMap;
import java.util.Map;

/**
 * An ibatis based implementation of dao interface <tt>${table.qualifiedDAOClassName}</tt>.
 *
#parse("description-java.vm")
 */
public class ${table.ibatisClassName} extends $base implements ${table.DAOClassName} {
#foreach($operation in $table.operations)
#parse("operation/op-${operation.templateSuffix}.vm") #parse("operation/opbody-${operation.templateSuffix}.vm")


#end
}