<script type="text/javascript" src="$!contextPath/js/discount/oneDiscount.js?num=Math.random()"></script>
<script type="text/javascript">
	// 业务实体
	var item; 
	#if($$item)
		item = $item;
	#end
	// 全局方法
	function operationType() {
		return "$!operation";
	}
	function operationTypeDesc() {
		return "$!operationDesc";
	}
	function getStates() {
		#if($states && $states.size() > 0)
			return $states;
		#else
			return new Array();		
		#end
	}
	function isReadOnly() {
		#if($readOnly && $readOnly == true)
			return true;
		#else
			return false;
		#end
	}
	function getFormAction() {
		#if($!operation == "ADD")
			return "add.htm";
		#elseif($!operation == "UPDATE")
			return "modify.htm";
		#else
			return "";
		#end
	}
	function getDiscountChange() {
		#if($discount)
			return $!discount.changeHistoryJson;
		#else
			return new Array();		
		#end
	}
	function isAdd() {
		#if($!operation == "ADD")
			return true;
		#else
			return false;
		#end
	}
	
</script>
##<b>可用额度：</b><font id="availableLimit>"></font>
